name: .NET Core WinForms App with Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: |
        docker build -t my-winforms-app-test -f Dockerfile .

    - name: Run Tests in Docker
      run: |
        docker run --rm my-winforms-app-test dotnet test InjectionInloggningTest/InjectionInloggningTest.csproj --configuration Release

    - name: Publish Artifacts
      run: |
        docker run --rm my-winforms-app-test powershell -Command "Copy-Item -Path /app/publish -Recurse -Destination C:\publish"

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Published App
        path: ./publish
